*{

    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

:root {
    --primary-Color: #f6f6fb;
    --wihite-color: #fff;
    --black-color: #18191a;
    --red-color: #e74c3c;
}
 
.imeg {
display: flex;
min-width: 100%;
min-height: 100vh;
align-items: center;
justify-content: center;
padding-bottom: 200px;
background: var(--primary-Color);
   max-width:100% ;
    max-height: 100%;
    mask-image:linear-gradient(to bottom,#000000 50%,transparent 100% ) ;
}
.imeg.dark{
    --primary-Color: #242526;
    --wihite-color: #18191a;
    --black-color: #fff;
    --red-color: #e74c3c;
}
 
.container{
display: flex;
flex-direction: column;
align-items: center;
gap: 60px;
}
.container .clock {
    display: flex;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: var(--wihite-color);
    box-shadow: 0 15px 25px rgba(0, 0,0, 0.1) , 0 25px 45px rgba(0, 0,0, 0.1) ;
    position: relative;

}

.clock label{
    position: absolute;
    inset: 20px;
    text-align: center;
    transform: rotate(calc(var(--i) * (360deg / 12)));
}
 

.clock label span{
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    color: var(--black-color);
    transform: rotate(calc(var(--i) * (-360deg / 12)));
}
.container .indicator{
position: absolute;
height: 10px;
width: 10px;
display: flex;
justify-content: center;
 
}
.indicator::before{
content: "";
position: absolute;
height: 100%;
width: 100%;
border-radius: 50% ;
z-index: 100;
background: var(--black-color);
border: 4px solid var(--red-color);
}
.indicator .hand {
    position: absolute;
    height: 130px;
    width: 4px;
    bottom: 0;
    border-radius: 25px;
    transform-origin: bottom;
    background: var(--red-color);
}
.hand.minute{
    height: 120px;
    width: 5px;
    
    background: var(--black-color);
}

.hand.hour{
    height: 100px;
    width: 8px;
    
    background: var(--black-color);
}
.mode-switch{
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    color: var(--wihite-color);
    background: var(--black-color);
    box-shadow: 0 5px 10px rgba(0, 0,0, 0.1);
}
.mode-switch:hover {
    background: #555;
    transform: scale(1.05);
    cursor: pointer; 
  }
