*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 

.bannner{
    width: 100%;
    height: 110vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.bannner .slider{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style:preserve-3d ;
    transform: perspective(1000px);
    animation: aUtoRun 20S linear infinite;
}
@keyframes aUtoRun{
    from{
        transform: perspective(1000px)rotateX(-20deg)  rotateY(0deg);
    }to{
        transform: perspective(1000px)rotateX(-20deg)  rotateY(360deg);
    }

}
    
 
.bannner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
    
    rotateY(calc((var(--position) - 1) * (360deg / var(--quantity))))
    translateZ(550px);
}
.bannner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover ;
    border-radius: 20%;
}
@media (max-width: 767px){
  .bannner{
    min-height: 70vh;
  }

  .bannner .slider{
    width: 140px;
    height: 180px;
    animation-duration: 25s; /* أبطأ شوية للموبايل */
  }

  .bannner .slider .item{
    transform:
      rotateY(calc((var(--position) - 1) * (360deg / var(--quantity))))
      translateZ(260px);
  }

  .bannner .slider .item img{
    border-radius: 15px;
  }
}
 